.monaco-container {
    width: 100%;
    height: 100%;
    background: #1e1e1e; /* Màu nền mặc định của VS Code Dark */
}

/* Ẩn hiện container */
.view-mode-hidden {
    display: none !important;
}

/* Fix z-index để context menu của Monaco đè lên được các thành phần khác */
.monaco-editor .context-view.widget {
    z-index: 10000 !important;
}
