/.angular/cache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
/.nx
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
apps/app/src/manifest.json

/extension/vetgo/node_modules/
/extension/node_modules/
/extension/vetgo/.angular/
/extension/vetgo/chrome/dist/
license/node_modules/
vetgo-extension-build/
/extension/license/dist/
vetgodocker/automation-core/.idea/
vetgodocker/automation-core/browser-profile/
vetgodocker/automation-core/target/
vetgodocker/automation-core/logs/
zalo-chrome/dist/

/.angular/
chrome/dist
